
<div class="container margin-top">
  <div class="row justify-content-center align-self-center">
    <div class="col-8">
      <h2>Editar colección</h2>
      <hr class="my-4">
      <%= form_for(@articules) do |f| %>

        <% @articules.errors.full_messages.each do |message| %>
          <div class="alert alert-danger" role="alert">
            * <%= message %>
          </div>
        <% end %>

        <div class="form-group">
          <label for="input_new_article">Título</label>
          <%= f.text_field :title, :placeholder=>"Pon un nombre corto que atraiga al lector",:class=>"form-control", :id=>"input_new_article" %>
        </div>

        <div class="form-group">
          <label for="textArea_new_article">Descripción del artículo</label>
          <%= f.text_area :body, :placeholder=>"Añade una descripción en pocas palabras", :class=>"form-control", :id=>"textArea_new_article", :rows=>"5" %>
        </div>

        <div class="form-group form-row">
          <div class="col">

            <%= f.text_field :thumdnail, :class=>"form-control",:id=>"picture_new_article",:placeholder=>"Introduce la ruta de una imagen" %>

          </div>
          <div class="col">
            <%= f.text_field :price,:placeholder=>"Precio de venta del artículo",:step=>"0.01",:id=>"price_new_article",:class=>"form-control mb-2 mr-sm-2" %>
          </div>
        </div>

        <%= f.submit "Actualizar",:class=>"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>