
<!-- Portada de la pagina -->
<%= render 'partials/coverPage' %>

<div class="container margin-top">
  <h3>Artículos de colectión disponibles</h3>


  <div class="card-deck">
    <% @articules.each do | article |%>
      <div class="article-card text-center bg-light" style="width: 18rem;">
        <img class="card-img-top" src="<%= article.thumdnail %>" alt="Card image cap" style="height: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.body %></p>
          <a href="/articules/<%= article.id %>" class="card-link">Card link</a>
        </div>
      </div>
    <% end %>
  </div>





</div>


