<div class="container margin-top">

  <div class="row justify-content-center align-self-center">
    <div class="col-8">
      <h2>Iniciar sesión</h2>
      <hr class="my-4">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email,"Introduce tu correo" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-control", :placeholder=>"Correo electrónico" %>
          <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico y contraseña con nadie más.</small>
        </div>

        <div class="form-group">
          <%= f.label :password, "Contraseña" %><br />
          <%= f.password_field :password, autocomplete: "current-password",:class=>"form-control", :placeholder=>"Contraseña" %>
        </div>

        <% if devise_mapping.rememberable? -%>

        <div class="form-group custom-control custom-checkbox">
          <%= f.check_box :remember_me,:class=>"custom-control-input" %>
          <%= f.label :remember_me, "¿Quiéres recordar tu contraseña?",:class=>"custom-control-label" %>
        </div>


        <% end -%>

        <%= f.submit "Entrar", :class=>"btn btn-primary" %>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
